<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/images/heros/salad.png">
    <title>Ultimate Bowl</title>
</head>
<body>
    <a href="#content" class="skip-link">Move to content</a>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1>Ultimate Bowl</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/search">Search</a></li>
            <li><a target="_blank noopener noreferrer" href="https://github.com/fabilqis">About Us</a></li>
          </ul>
        </nav>
      </header>
    <!-- Jumbotron -->
    <div class="hero">
        <div class="heroinner">
            <h1 class="herotitle"><i>Craving .... for a fooooood</i></h1>
            <p class="herosubtitle">We are serving the fantastic bowl with food you like</p>
        </div>
    </div>
    <!-- Content -->
    <main id="mainContent">
        <section class="content">
            <div class="latest">
                <h1>Find the bowls</h1>
                <div class="list" id="card"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Ultimate Bowl - 2022</p>
    </footer>
</body>
</html>