@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Arimo', sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-bar {
	padding: 8px 16px;
	background-color: white;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
	position: sticky;
	top: 0;
	z-index: 99;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
	display: flex;
	align-items: center;
}

.app-bar .app-bar__menu button {
	background-color: transparent;
	border: none;
	font-size: 18px;
	padding: 8px;
	cursor: pointer;
}

.app-bar .app-bar__brand {
	display: flex;
	align-items: center;
}

.app-bar .app-bar__brand h1 {
	color: black;
	text-transform: uppercase;
	font-size: 22px;
	user-select: none;
}

.app-bar .app-bar__navigation {
	position: absolute;
	top: 50px;
	left: -180px;
	width: 150px;
	transition: all 0.3s;
	padding: 8px;
	background-color: white;
	overflow: hidden;
}

.app-bar .app-bar__navigation.open {
	left: 0;
}

.app-bar .app-bar__navigation ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 8px;
	margin-bottom: 5px;
	width: 100%;
}



.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-position: center;
	background-color: Black !important;
	background-image: url("../public/images/heros/hero-image_4.jpg");
}

.skip-link {
	position: absolute;
	top: -100px;
	left: 5px;
	background-color: #bf1722;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none
}

.skip-link:focus {
	top: 100px
}

.heroinner {
	margin: 0 auto;
	max-width: 800px
}

.herotitle {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	text-shadow: 1px 1px #141414
}

.herosubtitle {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 1px 1px #141414
}

main {
	width: 100%;
	margin: 0 auto
}

.content {
	padding: 32px;
	background-color: ghostwhite;
}

.latest {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center
}

.latest h1 {
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 50px
}

main {
	padding: 32px;
	flex: 1;
  }
   
  .content {
	margin: 0 auto;
	min-height: 100%;
  }
   
  .content .content__heading {
	font-weight: normal;
  }
   
   
  /*
	food
  */
   
  .food {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	margin: 32px 0;
  }
   
   
  /*
	food Item
  */
   
  .food-item {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	overflow: hidden;
  }
   
  .food-item__header {
	position: relative;
  }
   
  .food-item .food-item__header .food-item__header__poster {
	width: 100%;
  }
   
  .food-item .food-item__header .food-item__header__rating {
	position: absolute;
	padding: 8px;
	bottom: 20px;
	left: 0;
	display: inline-block;
	background-color: black;
	color: white;
  }
   
  .food-item .food-item__header .food-item__header__rating .food-item__header__rating__score {
	margin-left: 10px;
  }
   
  .food-item .food-item__content {
	padding: 16px;
  }
   
  .food-item .food-item__content h3 {
	margin: 0 0 10px 0;
  }
   
  .food-item .food-item__content h3 a {
	color: #db0000;
	text-decoration: none;
  }
   
  .food-item .food-item__content p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* number of lines to show */
	-webkit-box-orient: vertical;
  }
   
   
  /*
	food
  */
   
  .food {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 18px 16px;
  }
   
  .food .food__poster {
	width: 100%;
	max-width: 400px;
  }
   
  .food .food__info h4 {
	margin: 8px 0;
  }
   

footer {
	background-color: antiquewhite;
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center
}